version: "3"

services:
  application:
    image: ${DOCKER_IMAGE}
    container_name: ilgijjan-server
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - rabbitmq
    networks:
      - ilgijjan-net

  redis:
    image: redis:latest
    container_name: ilgijjan-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - ilgijjan-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ilgijjan-rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - ilgijjan-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    environment:
      - MONITORING_TARGET=${MONITORING_TARGET:-host.docker.internal}
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus_data:/prometheus
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - ilgijjan-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD:-admin}
    depends_on:
      - prometheus
    networks:
      - ilgijjan-net

networks:
  ilgijjan-net:
    external: true